#mainCatalogo,
#mainOfertas {
    justify-content: center;
    text-align: center;

    h2,
    h3 {
        color: coral;
        font-weight: bold;
    }

    p {
        color: black;
        font-size: x-large;
    }

    .galery img {
        height: 200px;
        transition: 1s;
    }

    .galery img:hover {
        transform: scale(1.2);
    }


}
